@tailwind base;
@tailwind components;
@tailwind utilities;

.login-enter {
  opacity: 0;
  transform: translateX(-100%);
  position: absolute;
}

.login-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in-out;
}



.login-exit {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 300ms ease-in-out;
  position: absolute;
}



.register-enter {
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
}

.register-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in-out;
}

.register-exit {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
  position: absolute;
}